<configuration>
  <dllmap os="osx" dll="libeay32" target="libcrypto.osx.1.0.2.dylib"/>
  <dllmap os="osx" dll="ssleay32" target="libssl.osx.1.0.2.dylib"/>
  <dllmap os="freebsd" dll="libeay32" target="libcrypto.freebsd.1.0.2.so"/>
  <dllmap os="freebsd" dll="ssleay32" target="libssl.freebsd.1.0.2.so"/>
  <dllmap os="linux" dll="libeay32" target="libcrypto.linux.1.0.2.so"/>
  <dllmap os="linux" dll="ssleay32" target="libssl.linux.1.0.2.so"/>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
